:host {
    display: grid;
    gap: 3rem;
    padding: 2rem;
    place-self: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);

}

::slotted(a.active) {
    font-weight: bold;
}