:host {
    display: grid;
    grid-template-areas:
        "image"
        "text";
    grid-template-rows: 3fr 1fr;
    row-gap: 0;
}


slot[name="caption"]::slotted(*) {
    grid-area: text;
    margin-top: 0;
    height: min-content;
}

::slotted(img) {
    grid-area: image;
    max-width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    margin-bottom: 0;
}

::slotted(img:hover) {
    filter: none;
}