<footer>
    <section class="contact">
        Reach me on
        <external-clickable-image href="https://www.linkedin.com/in/chidi-nweke-a3835a201/">
            <img src="images/linkedin.png" slot="image">
        </external-clickable-image>
        <external-clickable-image href="https://www.instagram.com/chidinweke96/">
            <img src="images/instagram.png" slot="image">
        </external-clickable-image>
        <external-clickable-image href="https://github.com/ChidiRnweke/" id="github">
            <img src="images/github.png" data-alt-src="images/github-dark.png" slot="image" class="dark-toggle">
        </external-clickable-image>
    </section>
    With ❤️ by Chidi Nweke.
</footer>