<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chidi Nweke</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XML5X7KHME"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-XML5X7KHME');
</script>
<script src="/js/init.js"></script>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/highlight.css">
<script type="module" src="/src/components/DarkModeToggle.ts"></script>
<script type="module" src="/src/components/HeroSection.ts"></script>
<script type="module" src="/src/components/NavBar.ts"></script>
<script type="module" src="/src/components/SequentialSlider.ts"></script>
<script type="module" src="/src/components/ProjectCard.ts"></script>
<script type="module" src="/src/components/ExternalClickableImage.ts"></script>
<script type="module" src="/src/components/ReferenceList.ts"></script>
<script type="module" src="/src/components/EndNote.ts"></script>
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">