<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chidi Nweke</title>
<script src="/js/init.js"></script>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/obsidian.min.css">
<script type="module" src="/src/components/DarkModeToggle.ts"></script>
<script type="module" src="/src/components/HeroSection.ts"></script>
<script type="module" src="/src/router.ts"></script>
<script type="module" src="/src/pages/home.ts"></script>
<script type="module" src="/src/components/NavBar.ts"></script>
<script type="module" src="/src/components/SequentialSlider.ts"></script>
<script type="module" src="/src/components/ProjectCard.ts"></script>
<script type="module" src="/src/components/PageLink.ts"></script>
<script type="module" src="/src/components/ExternalClickableImage.ts"></script>
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">