pre {
    overflow-x: scroll;
    scrollbar-width: thin;
    overflow: auto;
    font-size: 0.9rem;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid var(--subtle-color);
}

p code {
    color: var(--accent-color);
    font-size: 1rem;
}

p>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}



blockquote p,
blockquote {
    background-color: var(--background-alt);
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 5px;

}

blockquote {
    background-color: var(--background-alt);
    margin-bottom: 4rem;
    display: block;
}

h1 {
    text-align: center;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
    line-height: 1.5;

}

@media (min-width: 500px) {
    main {
        max-width: 728px;
        margin: 0 auto;
    }

}

@media (min-width: 750px) {
    body {
        margin-left: 8rem;
        margin-right: 8rem;
    }

}

@media (min-width: 1100px) {}