@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

:root {
    --primary-color: #1a73e8;
    --secondary-color: #0f62fe;
    --accent-color: var(--secondary-color);
    --background-color: #ffffff;
    --background-alt: #faf3e0;
    --foreground-color: #333333;
    --subtle-color: #606060;
    --error-color: #dc3545;
    --logo-bg: transparent;
}

body.dark-theme {
    --primary-color: #BB86FC;
    --accent-color: #03DAC5;
    --secondary-color: #C792EA;
    --background-color: #1F1B24;
    --background-alt: #2C2C2C;
    --foreground-color: #ffffff;
    --subtle-color: #b0b0b0;
    --error-color: #ff6b6b;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    margin-right: 2rem;
    margin-left: 2rem
}



strong {
    color: var(--accent-color);
}

page-link {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}



page-link:hover {
    transform: scale(1.05);
    color: var(--secondary-color);
    text-decoration: underline;

}

hero-section section {
    display: grid;
    gap: 2rem;
    position: absolute;
    max-width: 10rem;
    justify-content: right;
    justify-self: right;
    align-items: end;
    color: white;
    margin-right: 1rem;
}

hero-section section h1 {
    justify-self: right;
    text-shadow: 0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 1);
}

hero-section section p {
    justify-self: right;
    text-shadow: 0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 1);
}

.text-stuff {
    text-align: right;
}

nav-bar page-link {
    text-decoration: none;
    color: var(--foreground-color);
    transition: color 0.3s ease;
    word-wrap: break-word;

}

.main-grid {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
    grid-template-areas:
        "description"
        "card"
        "skills"
        "experience"
    ;
}

.skills {
    grid-area: skills;
}

.skills-text {
    grid-area: text;
}

.experience-container,
.skills-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: initial;
    grid-auto-rows: min-content;
    grid-template-areas: "text"
        "picture";
}

.skills-text,
.experience-text {
    align-items: center;
    padding: 0 1rem;
    color: var(--subtle-color);
}

.experience-text p,
.skills-text p {
    margin-top: 0;
}


.skills-container {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text picture";
}

.experience-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "picture text";
}


@media (min-width: 768px) {
    body {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        row-gap: 1rem;
        margin-top: 0.5rem;
        grid-template-areas:
            "skills . experience"
            "skills description experience"
            "card card card";
    }

    .experience-container,
    .skills-container {
        column-gap: 1rem;
        grid-template-columns: 1fr;

    }

    .skills-container {
        grid-template-columns: 2.5fr 1fr;
        grid-template-areas: "text picture";
    }

    .experience-container {
        grid-template-columns: 1fr 2.5fr;
        grid-template-areas: "picture text";
    }


}

.recent-articles {
    margin-top: 3.7rem;
    grid-area: description;
}

.recent-articles p {
    margin: 0.75rem 0;
    line-height: 1.4;
}

.experience {
    grid-area: experience;

}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    column-gap: 0.2rem;
    max-width: 100%;
    place-items: top;
}

.experience picture,
.skills picture {
    grid-area: picture;
}

.experience picture img,
.skills picture img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.experience-text {
    grid-area: text;
}

.projects {
    grid-area: card;
}

h2,
project-card p,
.recent-articles {
    text-align: center;
    word-wrap: break-word;
}



project-card p {
    box-sizing: border-box;
    max-width: 200px;
    background-color: var(--background-alt);
    border-bottom-left-radius: 0.5rem;
    padding: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.8);
}

project-card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.8);

}

footer {
    text-align: center;
    padding: 1rem;
    color: var(--subtle-color);
}

footer .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 1rem 0.5rem 1rem;
    gap: 1rem;
}

footer .contact img {
    max-width: 25px;
    height: auto;
    display: block;
}