@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

:root {
    --primary-color: #1a73e8;
    --secondary-color: #0f62fe;
    --background-color: #ffffff;
    --background-alt: #faf3e0;
    --foreground-color: #333333;
    --subtle-color: #606060;
    --error-color: #dc3545;
}


a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;

}

hero-section section {
    display: grid;
    position: absolute;
    justify-content: right;
    justify-self: right;
    align-items: end;
    color: white;
    margin-right: 1rem;
}

hero-section section h1 {
    justify-self: right;
    text-shadow: 0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 1);
}

hero-section section p {
    justify-self: right;
    text-shadow: 0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 1);
}

nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: #ffffff;
}

nav-bar a {
    text-decoration: none;
    color: var(--foreground-color);
    transition: color 0.3s ease;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 0.5rem;
    grid-template-areas:
        "description"
        "skills"
        "experience"
        "card";
}

.skills-container,
.experience-container {
    grid-template-columns: 1fr;
}

.skills {
    grid-area: skills;
}

.skills picture {
    grid-area: picture;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.skills picture img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.skills-text {
    grid-area: text;
}

.experience-container,
.skills-container {
    display: grid;
    column-gap: 1rem;

}

@media (min-width: 768px) {

    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 3rem;
        margin-top: 0.5rem;
        grid-template-areas:
            "skills . experience"
            "skills description experience"
            "card card card";
    }

    .skills-container {
        grid-template-columns: 2.5fr 1fr;
        grid-template-areas: "text picture";
    }

    .skills h2,
    .skills-text {
        text-align: right;
    }


    .experience-container {
        grid-template-columns: 1fr 2.5fr;
        grid-template-areas: "picture text";
    }
}




.experience h2 {
    text-align: left;
}

.recent-articles {
    margin-top: 5rem;
    grid-area: description;
}

.recent-articles p {
    margin: 0.75rem 0;
    line-height: 1.4;
}

.experience {
    grid-area: experience;

}






.projects-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.2rem;
    grid-template-areas: "picture text";
}


.experience picture {
    grid-area: picture;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.experience picture img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.experience-text {
    grid-area: text;

}

.projects {
    grid-area: card;
}

h2,
project-card p,
.recent-articles {
    text-align: center;
}

project-card {
    height: min-content;
}


project-card p {
    background-color: var(--background-alt);
    padding: 3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.8);
}

project-card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.8);

}

footer {
    text-align: center;
}